
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html { height: 100%; }

body {
    font-family: "Lato", Calibri, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: #121;
    color: #ede;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
}

#mynetwork {
    width: 90%;
    height: 550px;
    background-color: #121;
    border: 2px solid grey;
    border-radius: 5px;
}

#mydescription {
    width: 90%;
    background-color: #121;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 10px;
}

u {
    background-color: #cc80ff;
    color: #121;
}

h2 {
    text-align: center;
    color: #95c;
}

h3 {
    color: #cc80ff;
}
